// Taken from facebook.github.io/react/css/react.css, modified

#react-coffee-playground
  height: 100%
  div.CodeMirror
    height: 100%
  div.CodeMirror pre, div.CodeMirror-linenumber, code
    font-family: 'source-code-pro', Menlo, Consolas, 'Courier New', monospace
    font-size: 13px
    line-height: 20px
  .playground
    width: 100%
    height: 100%
    .playground_code_wrapper
      height: 100%
      display: block
      position: fixed
      top: 0
      bottom: 0
      right: 0
      width: 50%
      background: #202020
      overflow: auto
    .playground_preview
      display: block
      position: fixed
      left: 0
      top: 0
      bottom: 0
      width: 50%
      vertical-align: top
      overflow: auto
  .playground_preview
    background-color: white
  .playground_error
    color: red
    font-size: 15px
